
* {
  text-align: center;
  box-sizing: border-box;
}

.img {
  width: 100%;
}

body {
  border-top: solid 5px #dcdcdc;
  border-bottom: solid 5px #dcdcdc;
  padding-top:30px;
  padding-bottom:30px;
}
header {
  margin:0 auto;
}

a {
  text-decoration: none;
  color: black;
}

.main ul {
  Padding:10px 0;
  margin:5px;
  background-color: #dcdcdc;
  width:100%;
}

.intro-p {
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
font-size: 20px;
}

.pf-img {
padding: 20px;
}

.heading {
  text-align: center;
}

.text {
  text-align: center;
  font-size: 18px;
}

.pin {
  text-align: center;
}

.clearfix::after {
  display:table;
  content:"";
  clear:both;
}


.title {
  text-align:center;
}



/*@media query */
@media (min-width: 768px) {
.pf-img {
    float:right;
  }

.intro-p {
  padding-top:50px;
  font-size:25px;
}

.portfolio-item {
    width: 50%;
   float: left;
   padding:20px;
  }
  .main ul {
    display: inline-block;
    width: auto;
    margin-right: 15px;
    padding:5px 10px;
    }
  /* .containers {
    width: 50%;
  } */


@media (min-width:1024px) {
.portfolio-item {
    width: 33.3%;
    float:left;
   padding:20px;
  }


  .intro-p {
    text-align: left;
  }

  .pf-img {
    width:30%;
  }

  header {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .main,
 .main ul {
   width: initial;
   margin-bottom: 0;
 }
}

}
